---
import Layout from '../layouts/Layout.astro';
import WorkspaceLayout from '../components/WorkspaceLayout';
---

<Layout title="ColorFix for All - ワークスペース" hideFooter={true}>
  <div class="flex-grow flex flex-col overflow-hidden">
    <WorkspaceLayout client:only="react" />
  </div>
</Layout>
